doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/node_modules/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    script(src="/node_modules/jquery/dist/jquery.min.js")
    script(src="/node_modules/popper.js/dist/umd/popper.min.js")
    script(src="/node_modules/bootstrap/dist/js/bootstrap.min.js")
    script(src="/javascripts/main.js")
